/Solution/out/production/Solution/com/aphysia/leetcode/*.class
/Solution/out/production/Solution/com/aphysia/offer/*.class
/Solution/.idea/sonarlint/issuestore/6/9/692f780f30f79934458b0c3aa8e53599eb1f88c5
/Solution/.idea/sonarlint/issuestore/e/0/e038e24858268b14d3326f57a79ff6d9f73f5483
/Solution/.idea/sonarlint/issuestore/index.pb
/Solution/out/production/Solution/META-INF/Solution.kotlin_module
